/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: commodoreFont;
  src: url('../assets/fonts/commodore_64/Commodore-Angled-v1.2.ttf');
}
@font-face {
  font-family: commodoreFont2;
  src: url('../assets/fonts/commodore_64/Commodore-64-v6.3.ttf');
}

body {
}

#root > div > div {
  background-color: white;
}
#root > div > div > div::-webkit-scrollbar {
  width: 0 !important;
}
.commodoreFontStyle {
  font-family: commodoreFont !important;
}
/*
  Sidebar
*/
#leftSidebar {
  overflow-y: hidden !important;
  box-shadow: 4px 1px 4px -2px black;
}
#leftSidebar::-webkit-scrollbar {
  width: 0 !important;
}

#navBar {
  padding: 5px;
}
#navBrand {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  font-family: commodoreFont;
  /*font-family: commodoreFont;*/
}
#navBar ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
#navBar ul li {
  margin-bottom: 20px;
  font-size: 0.95em;
  cursor: pointer;
  text-align: center;
}
#navBar ul li .sidebarIcons {
  font-size: 50px;
}
#navBar ul li .sidebarIcons:hover {
  opacity: 0.8;
}

#navButton {
  display: inline-block;
}
/*
  Sidebar ends
*/

/*
  Content
*/

#content {
  padding-left: 30px;
}
#content {
  min-height: 95%;
}
/*
  Content ends
*/

/*
  Wallet starts
*/

#walletContent {
  padding: 20px;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.walletItem {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 150px;
}

div.scrollmenu .walletItem:hover {
  background-color: #777;
}
div.scrollmenu .selectedWallet {
  background-color: steelblue;
}

#addWalletButton {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 150px;
  font-size: 40px;
}

#walletPanel .nav-item .nav-link {
  font-family: commodoreFont;
}

/*
    Wallet ends
  */

/*
  Minter
*/
#metadataTxsPreview {
  max-height: 300px;
  overflow-y: auto;
}
#metadataTxsPreview::-webkit-scrollbar {
  width: 0 !important;
}
.jsonContentMeta {
  background-color: beige;
}
/*
  Minter ends
*/
